
{{#if adminServices.loggedIn}}
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{update-question question=model update="update"}}
  {{else}}
  <h4>Admin not logged in</h4>
{{/if}}
