<div>
  <form>
    <div class="form-group">
      <h5 id="content">Topic</h5>
      {{textarea value=content id="content"}}
    </div>

    <div class="form-group">
      <h5 id="author">Username</h5>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <h5 id="date">Date</h5>
      {{input value=date id="date"}}
    </div>

    <button {{action 'saveQuestion'}}>Ask!</button>
  </form>
</div>
