<div class="row table-data">
  <div class="col-sm-8">
    <h5>{{question.content}}</h5>
  </div>
  <div class="col-sm-2">
    <h5>{{question.author}}</h5>
  </div>
  <div class="col-sm-2">
    <h5>{{question.date}}</h5>
  </div>
  <button {{action 'delete' question}}></button>
</div>
