<div class="row table-data">
  <div class="col-sm-8">
    {{#link-to 'question' question.id}}<h5 class="question-content">{{question.content}}</h5>{{/link-to}}
  </div>
  <div class="col-sm-2">
    <h5>{{question.author}}</h5>
  </div>
  <div class="col-sm-2">
    <h5>{{question.date}}</h5>
  </div>
</div>
