@import "bootstrap";

$primaryColor: #5F5C46;
$secondaryColor: #E4E3DC;
$borderColor: #EDBF85;
$otherColor: #F8F287;
$anotherColor: #D1CEC3;


div{
  border-radius: 2px;
}

.container{
  background-color: $secondaryColor;
  min-height: 100%;
  position: relative;
  max-width: 100%;
}

footer {
position: fixed;
bottom: 0;
}

.navbar{
  border-radius: 0;
  background-color: $primaryColor;
  border: 4px solid $primaryColor;
  border-radius: 2px;
}

li{
  border-left: 1px solid black;
}

.daily-pic-div{
  background-color: $otherColor;
  border: 4px ridge $borderColor;
  text-align: center;
  float:right;
  max-width: 100%;
  padding: 0;
  img{
    border-top: 4px ridge $borderColor;
    max-width: 100%;
  }
}

.table-head{
  max-width: 96%;
  background-color: $anotherColor;
  margin-left: 2%;
}

.table-data{
  max-width: 96%;
  margin-left: 2%;
  border-bottom: 1px solid $anotherColor;
}

#title{
  color: black;
}
