
<div class="index-div">
  <div class="daily-pic-div">
    <h3>Daily Shroom</h3>
    <img src="assets/images/chantrelles.JPG" alt="Chanterelles" />
  </div>
  <div class="message-board-div">
    
  </div>


</div>
