
<div class="index-div">
  <div class="row">
    <div class="col-sm-8">
        <div class="row table-head">
          <div class="col-sm-8">
            <h4>Topic</h4>
          </div>
          <div class="col-sm-2">
            <h4>User</h4>
          </div>
          <div class="col-sm-2">
            <h4>Date</h4>
          </div>
        </div>
          {{#each model.questions as |question|}}
            {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
          {{/each}}
    </div>
    <div class=" col-sm-4">
      <div class="daily-pic-div">
        <h3>Daily Shroom</h3>
        <img src="assets/images/chantrelles.JPG" alt="Chanterelles" />
      </div>
      <div class="question-form-div">
        {{new-question saveQuestion="saveQuestion"}}
      </div>
    </div>
  </div>
</div>
