<div class="pic-row row">
  <div class="pic-col col-sm-6">
    <img src="assets/images/IMG_0852.JPG" alt="shroom"/>
  </div>
  <div class=" pic-col col-sm-6">
    <img src="assets/images/chantrelles.JPG" alt="shroom"/>
  </div>
</div>
<div class="pic-row row">
  <div class="pic-col col-sm-6">
    <img src="assets/images/IMG_0853.JPG" alt="shroom"/>
  </div>
  <div class=" pic-col col-sm-6">
    <img src="assets/images/IMG_0854.JPG" alt="shroom"/>
  </div>
</div>
<div class="pic-row row">
  <div class="pic-col col-sm-6">
    <img src="assets/images/IMG_0855.JPG" alt="shroom"/>
  </div>
  <div class=" pic-col col-sm-6">
    <img src="assets/images/IMG_0856.JPG" alt="shroom"/>
  </div>
</div>
<div class="pic-row row">
  <div class="pic-col col-sm-6">
    <img src="assets/images/IMG_0857.JPG" alt="shroom"/>
  </div>
  <div class=" pic-col col-sm-6">
    <img src="assets/images/IMG_0858.JPG" alt="shroom"/>
  </div>
</div>
<div class="pic-row row">
  <div class="pic-col col-sm-6">
    <img src="assets/images/IMG_0859.JPG" alt="shroom"/>
  </div>
  <div class=" pic-col col-sm-6">
    <img src="assets/images/IMG_0860.JPG" alt="shroom"/>
  </div>
</div>
